// @import "./mixins.scss";
@import "./reset.scss";

html,
body {
  height: 100%;
}
#app {
  overflow: hidden;
  height: 100%;

  font-size: 16px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  background-color: #ffffff;
}
.template-wrapper {
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
}
.flex-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.project-list {
  width: 600px;
  height: calc(100% - 60px);
  margin: 0 auto;

  .title {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;

    height: 50px;
    padding: 10px 20px;
  }
}

.input-textarea {
  .el-textarea__inner {
    resize: none;
  }
}

.input-inline {
  &.el-input,
  &.el-select,
  &.el-textarea,
  &.el-date-editor.el-input {
    width: 178px;
  }
}
.block {
  display: block;
  width: 100%;

  &.el-date-editor.el-input {
    width: 100%;
  }
}
