@font-face {
  font-family: "iconfont"; /* Project id 3496276 */
  src: url('iconfont.woff2?t=1656829196082') format('woff2'),
       url('iconfont.woff?t=1656829196082') format('woff'),
       url('iconfont.ttf?t=1656829196082') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-antdesign:before {
  content: "\e879";
}

.icon-liantong-logo:before {
  content: "\e99b";
}

.icon-dianxin-logo:before {
  content: "\e680";
}

.icon-yidong-logo:before {
  content: "\e681";
}

.icon-apple-logo:before {
  content: "\e678";
}

.icon-jiaotong-logo:before {
  content: "\e6f3";
}

.icon-gongshang-logo:before {
  content: "\e6f4";
}

.icon-xingye-logo:before {
  content: "\e6f5";
}

.icon-nongye-logo:before {
  content: "\e6f6";
}

.icon-jianshe-logo:before {
  content: "\e6f7";
}

.icon-shanghaipudong-logo:before {
  content: "\e6f8";
}

.icon-youzheng-logo:before {
  content: "\e6f9";
}

.icon-shangye-logo:before {
  content: "\e6fa";
}

.icon-zhongguo-logo:before {
  content: "\e6fb";
}

.icon-shenzhenfazhan-logo:before {
  content: "\e6fc";
}

.icon-beijingnongye-logo:before {
  content: "\e703";
}

.icon-guangdongshangye-logo:before {
  content: "\e707";
}

.icon-shengjing-logo:before {
  content: "\e709";
}

.icon-huaxia-logo:before {
  content: "\e70a";
}

.icon-beijing-logo:before {
  content: "\e70c";
}

.icon-nanjing-logo:before {
  content: "\e70d";
}

.icon-huishang-logo:before {
  content: "\e710";
}

.icon-zheshang-logo:before {
  content: "\e711";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-sony:before {
  content: "\e6cb";
}

.icon-github:before {
  content: "\ea09";
}

.icon-github-logo:before {
  content: "\ea0a";
}

.icon-weixin-logo:before {
  content: "\e65e";
}

.icon-gaode-logo:before {
  content: "\e6fe";
}

.icon-psp-logo:before {
  content: "\e7a9";
}

.icon-xbox-logo:before {
  content: "\e7b1";
}

.icon-sf-logo:before {
  content: "\e600";
}

.icon-sass-logo:before {
  content: "\e6fd";
}

.icon-css-logo:before {
  content: "\e727";
}

.icon-nodejs-logo:before {
  content: "\e72a";
}

.icon-angular-logo:before {
  content: "\e64d";
}

.icon-evernote-logo:before {
  content: "\e67b";
}

.icon-windows-logo:before {
  content: "\e684";
}

.icon-qq-logo:before {
  content: "\e62c";
}

.icon-dingding-logo:before {
  content: "\e62d";
}

.icon-alipay-logo:before {
  content: "\e675";
}

.icon-weibo-logo:before {
  content: "\e679";
}

.icon-bilibili-logo:before {
  content: "\e602";
}

.icon-vue-logo:before {
  content: "\e8c1";
}

.icon-alipay1-logo:before {
  content: "\e9d8";
}

.icon-firefox-logo:before {
  content: "\e9df";
}

.icon-baidu-logo:before {
  content: "\e603";
}

.icon-google-logo:before {
  content: "\e604";
}

.icon-ie-logo:before {
  content: "\e64c";
}

